In [198]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import maup
from zipfile import ZipFile
import numpy as np
import os
import shutil

# US House

## Final File - Load

In [203]:
final = gpd.read_file('./va_2018_ushouse/va_2018_ushouse.shp')

In [204]:
final

,COUNTYFP,LOCALITY,VTDST,PRECINCT,CON_DIST,G18HORDEM,G18HORREP,G18HORLIB,G18HORWRI,geometry
0,001,Accomack County,000101,Chincoteague,2,533,1039,0,1,"POLYGON Z ((-75.42507 37.89957 0.00000, -75.42..."
1,001,Accomack County,000201,Atlantic,2,171,482,0,2,"POLYGON Z ((-75.59978 37.87664 0.00000, -75.59..."
2,001,Accomack County,000202,Greenbackville,2,307,595,0,1,"POLYGON Z ((-75.49919 37.93416 0.00000, -75.49..."
3,001,Accomack County,000301,New Church,2,583,490,0,0,"POLYGON Z ((-75.64987 37.92702 0.00000, -75.64..."
4,001,Accomack County,000401,Bloxom,2,118,286,0,0,"POLYGON Z ((-75.71556 37.87513 0.00000, -75.71..."
...,...,...,...,...,...,...,...,...,...,...
2458,179,Stafford County,000401,AQUIA,1,615,247,0,0,"POLYGON Z ((-77.39221 38.48583 0.00000, -77.39..."
2459,195,Wise County,000302,East Stone Gap,9,338,1079,0,3,"POLYGON Z ((-82.80429 36.83206 0.00000, -82.80..."
2460,195,Wise County,000301,Big Stone Gap,9,416,954,0,1,"POLYGON Z ((-82.77275 36.84962 0.00000, -82.77..."
2461,089,Henry County,000503,Stanleytown,9,201,855,0,1,"POLYGON Z ((-79.96638 36.76286 0.00000, -79.96..."
2462,089,Henry County,000501,Bassett #1,9,237,260,0,0,"POLYGON Z ((-79.95788 36.73723 0.00000, -79.95..."

# Election Results: US Senate

### Read in election results and append since files split accross districts

In [205]:
district = [str(1), str(2), str(3), str(4), str(5), str(6), str(7), str(8), str(9), str(10), str(11)]

In [206]:
#Party info from: https://ballotpedia.org/United_States_House_of_Representatives_elections_in_Virginia,_2018

candidate_to_party_dict = {'Robert Joseph Wittman': 'G18HORREP',
                           'Lavangelene Aereka Williams': 'G18HORDEM', 
                           'All Others': 'G18HORWRI',  
                           'Elaine Goodman Luria': 'G18HORDEM', 
                           'Scott William Taylor': 'G18HORREP',
                           'Robert Cortez Scott': 'G18HORDEM', 
                           'A. Donald McEachin': 'G18HORDEM', 
                           'Ryan Andrew McAdams': 'G18HORREP',
                           'Peter Joseph Wells': 'G18HORLIB', 
                           'Denver Lee Riggleman, III': 'G18HORREP',
                           'Leslie Corkill Cockburn': 'G18HORDEM', 
                           'Benjamin Lee Cline': 'G18HORREP', 
                           'Jennifer Lynn Lewis': 'G18HORDEM',
                           'Abigail Anne Davis Spanberger': 'G18HORDEM', 
                           'David A. Brat': 'G18HORREP',
                           'Joseph Buckler Walton': 'G18HORLIB', 
                           'Donald Sternoff Beyer, Jr.': 'G18HORDEM',
                           'Thomas Siyoung Oh': 'G18HORREP', 
                           'Howard Morgan Griffith': 'G18HORREP',
                           'Anthony Jude Flaccavento': 'G18HORDEM', 
                           'Jennifer Tosini Wexton': 'G18HORDEM',
                           'Barbara Jean Comstock': 'G18HORREP', 
                           'Gerald Edward Connolly': 'G18HORDEM',
                           'Jeffery Anthony Dove, Jr': 'G18HORREP', 
                           'Stevan Michael Porter': 'G18HORLIB'}

#candidate_list = []

#### Peter peer coding
 - if trouble standardizing, just do it by hand
 - to change the column header names, use .rename()
 - can use loop to print out the 11 names

In [207]:
#og:
path = ('/Users/lilyfalk/sandbox/pdv-va/vest_va/us_house_results_by_district_2018/')
os.chdir(path)
elections_by_district = []
for i in district:
    file_name = 'Virginia_Elections_Database__2018_U_S_House_General_Election_District_'+ i +'_including_precincts.csv'
    results = pd.read_csv(file_name)
    print(i, ' added to list')
    results['CON_DIST'] = i
    for col in results.columns:
        if col in candidate_to_party_dict.keys():
            col_new_name = candidate_to_party_dict.get(col)
            results = results.rename(columns = {col:col_new_name})
    elections_by_district.append(results)

1  added to list
2  added to list
3  added to list
4  added to list
5  added to list
6  added to list
7  added to list
8  added to list
9  added to list
10  added to list
11  added to list

In [208]:
#more efficient mod:
path = ('/Users/lilyfalk/sandbox/pdv-va/vest_va/us_house_results_by_district_2018/')
os.chdir(path)
elections_by_district = []
for i in range(1, 12):
    file_name = 'Virginia_Elections_Database__2018_U_S_House_General_Election_District_'+ str(i) +'_including_precincts.csv'
    results = pd.read_csv(file_name)
    print(i, ' added to list')
    results['CON_DIST'] = i
    elections_by_district.append(results.rename(columns = {col: candidate_to_party_dict.get(col) for col in results.columns if col in candidate_to_party_dict.keys()}
))

1  added to list
2  added to list
3  added to list
4  added to list
5  added to list
6  added to list
7  added to list
8  added to list
9  added to list
10  added to list
11  added to list

In [215]:
df = pd.concat(elections_by_district, axis = 0)
df = df.reset_index()
df = df[df['County/City'] != 'TOTALS']
df['LOCALITY'] = df['County/City']
df = df.iloc[1:]
df = df.drop(['County/City', 'Ward', 'Total Votes Cast'], axis = 1)
df = df.fillna(value = 0)
df = df[(df['G18HORDEM'] != 'Democratic') & (df['G18HORREP'] != 'Republican') & (df['G18HORLIB'] != 'Libertarian')]
county_dict = pd.Series(final['COUNTYFP'].values, index = final['LOCALITY']).to_dict()
df['COUNTYFP'] = df['LOCALITY'].map(county_dict)

df['G18HORDEM'] = df['G18HORDEM'].map(lambda x: str(x).replace(',', ''))
df['G18HORREP'] = df['G18HORREP'].map(lambda x: str(x).replace(',', ''))
df['G18HORLIB'] = df['G18HORLIB'].map(lambda x: str(x).replace(',', ''))
df['G18HORWRI'] = df['G18HORWRI'].map(lambda x: str(x).replace(',', ''))

df['G18HORDEM'] = df['G18HORDEM'].astype(str).astype(float).astype(int)
df['G18HORREP'] = df['G18HORREP'].astype(str).astype(float).astype(int)
df['G18HORLIB'] = df['G18HORLIB'].astype(str).astype(float).astype(int)
df['G18HORWRI'] = df['G18HORWRI'].astype(str).astype(float).astype(int)

df['CON_DIST'] = df['CON_DIST'].astype(str)

### Need to re allocate absentee votes

In [216]:
def get_absentee_frac(prec_tot, county_tot, absentee_tot):
    '''
    Keyword arguments: (put inputs to funtions and say what they should be)
    precinct vote total for given candidate (int)
    county vote total for given candidate, absentee and provisional votes not included (int)
    absentee vote total for county for given candidate (int)
    '''
    if county_tot != 0:
        prec_frac = prec_tot/county_tot
        absentee_frac = prec_frac*absentee_tot
    else:
        absentee_frac = 0
    return absentee_frac

In [217]:
absentee_and_prov = df[(df['Pct'].map(lambda x: 'Absentee' in str(x))) | (df['Pct'].map(lambda x: 'Provisional' in str(x)))]
groupby_absentee_and_prov_tot = absentee_and_prov.groupby(['COUNTYFP']).sum()

In [218]:
absentee_and_prov[['G18HORREP', 'G18HORDEM', 'G18HORWRI', 'G18HORLIB']].sum().sum()

333609

In [225]:
groupby_absentee_and_prov_tot

          index  G18HORREP  G18HORDEM  G18HORWRI  G18HORLIB
COUNTYFP
001          35        439        735          0          0
003          63       1522       3974         11          0
005          27        162        132          0          0
007          13        298        186          1          1
009          25        431        332          0          0
...         ...        ...        ...        ...        ...
800         948        269       2188        110         15
810         339       6809       8326         16          0
820         527        253        275          0          0
830         347        217        460          0          0
840         441        338        528          0          0

[133 rows x 5 columns]

In [226]:
groupby_county_df_tot = df.groupby(['COUNTYFP']).sum()
df_no_absent_or_provisional = df[(df['Pct'].map(lambda x: 'Absentee' not in str(x))) & (df['Pct'].map(lambda x: 'Provisional' not in str(x)))
                                & (df['LOCALITY'] != 'TOTALS')]
groupby_county_tot_no_absentee = df_no_absent_or_provisional.groupby('COUNTYFP').sum()

In [227]:
df_no_absent_or_provisional[['G18HORREP', 'G18HORDEM', 'G18HORWRI', 'G18HORLIB']].sum().sum()

2979602

In [228]:
df_with_absentee_reallocated = df_no_absent_or_provisional.copy()
sum_allocated = 0
prec_sum_w_ab = 0
for index, precinct_total_row_by_candidate in df_no_absent_or_provisional.iterrows():
    #print(precinct_total_row_by_candidate)
    county_fips = precinct_total_row_by_candidate['COUNTYFP']
    county_total_row_by_candidate_no_absentee = groupby_county_tot_no_absentee.loc[county_fips]
    county_absentee_and_provisional_by_candidate = groupby_absentee_and_prov_tot.loc[county_fips]
    #print(precinct_total_row_by_candidate, county_total_row_by_candidate_no_absentee, county_absentee_and_provisional_by_candidate)
    for candidate, votes in county_total_row_by_candidate_no_absentee.to_dict().items():
        prec_tot = precinct_total_row_by_candidate[candidate]
        #print('precinct total: ', prec_tot)
        county_tot = votes
        #print('county total: ', county_tot)
        absentee_tot = county_absentee_and_provisional_by_candidate[candidate]
        #print('absentee total: ', absentee_tot)
        absentee_frac = get_absentee_frac(prec_tot, county_tot, absentee_tot)
        #print('absentee votes to allocate to precinct: ', absentee_frac)
        prec_with_absentee_allocation = prec_tot + absentee_frac
        #print('new precinct total: ', prec_with_absentee_allocation)
       #print(df_with_absentee_reallocated[['G18HORREP', 'G18HORDEM', 'G18HORWRI', 'G18HORLIB']].sum().sum())
        df_with_absentee_reallocated.loc[index, candidate] = round(prec_with_absentee_allocation) #index is row, candidate is column

        #print(df_with_absentee_reallocated[['G18HORREP', 'G18HORDEM', 'G18HORWRI', 'G18HORLIB']].sum().sum())
        sum_allocated = sum_allocated + absentee_frac
        prec_sum_w_ab = prec_sum_w_ab + prec_with_absentee_allocation
        ##So, the number of absentee reallocated looks right... must be a problem with the sum of the prec_tot and absentee_frac?
#print(sum_allocated)
#print(prec_tot)
print(prec_sum_w_ab)
df_with_absentee_reallocated.loc[index, candidate]
#df_with_absentee_reallocated.loc[index, candidate]

3684448.999999998

24.0

In [229]:
df_with_absentee_reallocated.loc[index, candidate]

24.0

In [230]:
df_no_absent_or_provisional[['G18HORREP', 'G18HORDEM', 'G18HORWRI', 'G18HORLIB']].sum().sum()

2979602

In [231]:
df_with_absentee_reallocated[['G18HORREP', 'G18HORDEM', 'G18HORWRI', 'G18HORLIB']].sum().sum()

3313092.0

In [232]:
final[['G18HORREP', 'G18HORDEM', 'G18HORWRI', 'G18HORLIB']].sum().sum()

3313211

In [233]:
groupby_df_with_absentee_reallocated = df_with_absentee_reallocated.groupby('COUNTYFP').sum()

In [235]:
groupby_df_with_absentee_reallocated.sum().sum()

3684333.0

In [236]:
groupby_county_final = final.groupby(['COUNTYFP']).sum()

In [237]:
groupby_county_final.sum().sum()

3313211

In [238]:
df_absentee_reallocate_with_final = pd.merge(groupby_df_with_absentee_reallocated, groupby_county_final, on = 'COUNTYFP', how = 'inner', suffixes = ('_x', '_y'))

In [239]:
df_absentee_reallocate_with_final

,index,G18HORREP_x,G18HORDEM_x,G18HORWRI_x,G18HORLIB_x,G18HORDEM_y,G18HORREP_y,G18HORLIB_y,G18HORWRI_y
COUNTYFP,,,,,,,,,
001,172.0,7025.0,5727.0,12.0,0.0,5729,7025,0,12
003,528.0,18808.0,34407.0,115.0,0.0,34409,18807,0,117
005,104.0,3563.0,1893.0,2.0,0.0,1892,3563,0,2
007,28.0,3879.0,1926.0,4.0,50.0,1926,3879,51,4
009,91.0,8326.0,4216.0,8.0,0.0,4217,8326,0,8
...,...,...,...,...,...,...,...,...,...
800,7914.0,5453.0,23475.0,1920.0,152.0,23477,5453,150,1922
810,12188.0,82585.0,86818.0,201.0,0.0,86822,82586,0,217
820,1569.0,3874.0,3840.0,4.0,0.0,3840,3875,0,4
830,690.0,1787.0,4408.0,16.0,0.0,4408,1787,0,16
840,1740.0,4209.0,4923.0,10.0,0.0,4924,4209,0,10

In [240]:
df.columns

Index(['index', 'Pct', 'G18HORREP', 'G18HORDEM', 'G18HORWRI', 'CON_DIST',
       'G18HORLIB', 'LOCALITY', 'COUNTYFP'],
      dtype='object')

In [241]:
column_list = ['G18HORREP', 'G18HORDEM', 'G18HORWRI', 'G18HORLIB']

In [242]:
def sum_checker(df, column_list):
    list_max = 0
    for i in column_list:
        left_sum = df[i+'_x'].sum()
        right_sum = df[i+'_y'].sum()
        if (left_sum == right_sum):
            print('column: ', i, ' have the same sums')
        
        else:
            diff = abs(left_sum - right_sum)
            percent = abs(left_sum - right_sum)/left_sum
            print('column: ', i)
            print('RDH sum is ', str(left_sum))
            print('Partner sum is ', str(right_sum))
            print('their (absolute) difference is ', str(diff))
            print('As a percentage of DF1 this is ', str(round(percent*100,5)) + '%')
            if (percent>list_max):
                list_max = percent
            print('')
    print('The max difference (as a percent of the total of on DF column is: ', str(round(list_max,5)))

In [243]:
sum_checker(df_absentee_reallocate_with_final, column_list)

column:  G18HORREP
RDH sum is  1408723.0
Partner sum is  1408701
their (absolute) difference is  22.0
As a percentage of DF1 this is  0.00156%

column:  G18HORDEM
RDH sum is  1867064.0
Partner sum is  1867061
their (absolute) difference is  3.0
As a percentage of DF1 this is  0.00016%

column:  G18HORWRI
RDH sum is  23323.0
Partner sum is  23454
their (absolute) difference is  131.0
As a percentage of DF1 this is  0.56168%

column:  G18HORLIB
RDH sum is  13982.0
Partner sum is  13995
their (absolute) difference is  13.0
As a percentage of DF1 this is  0.09298%

The max difference (as a percent of the total of on DF column is:  0.00562

The above results are pretty good, the percentage off is very low.

In [269]:
df_cd_groupby = df.groupby(['CON_DIST']).sum() #method=function

In [270]:
df_cd_groupby

          index  G18HORREP  G18HORDEM  G18HORWRI  G18HORLIB
CON_DIST
1         34980     183250     148464        413          0
10        24531     160841     206356        618          0
11        13861      83023     219191        513       5546
2         17955     133458     139571        399          0
3         23653          0     198615      19177          0
4         39060     107706     187642        288       4233
5         62481     165339     145040        550          0
6         34980     167957     113133        318          0
7         28441     169295     176079        241       4216
8         15051      76899     247137        714          0
9         76245     160933      85833        223          0

In [271]:
df_cd_groupby.sum().sum()

3684449

In [272]:
final_cd_groupby = final.groupby(['CON_DIST']).sum()

In [273]:
final_cd_groupby

          G18HORDEM  G18HORREP  G18HORLIB  G18HORWRI
CON_DIST
1            148464     183250          0        413
10           206356     160841          0        618
11           219191      83023       5546        513
2            139571     133458          0        399
3            198615          0          0      19177
4            187642     107706       4233        288
5            145040     165339          0        550
6            113133     167957          0        318
7            176079     169295       4216        241
8            247137      76899          0        714
9             85833     160933          0        223

In [274]:
final_cd_groupby.sum().sum()

3313211

In [275]:
join_df_cd_groupby_with_final = pd.merge(df_cd_groupby, final_cd_groupby, on = 'CON_DIST')

In [276]:
sum_checker(join_df_cd_groupby_with_final, column_list)

column:  G18HORREP  have the same sums
column:  G18HORDEM  have the same sums
column:  G18HORWRI  have the same sums
column:  G18HORLIB  have the same sums
The max difference (as a percent of the total of on DF column is:  0

Just shows that totals match before votes reallocated

In [281]:
final['unique_id'] = final['COUNTYFP'] + final['VTDST'].str.slice(start = 3)

In [282]:
final['unique_id'].nunique()

2441

In [286]:
df_with_absentee_reallocated['vtdst'] = df_with_absentee_reallocated.Pct.str.slice(stop = 3)

In [292]:
def vtdst_changer(vtdst):
    if (vtdst[1:3] == ' -'):
        two_lead_zero = '00' + vtdst[:1]
        return two_lead_zero
    elif (vtdst[1:3] == '- '):
        two_lead_zero = '00' + vtdst[:1]
        return two_lead_zero
    elif (vtdst[-1:] == ' '):
        one_lead_zero = '0' + vtdst[:2]
        return one_lead_zero
    elif (vtdst[-1:] == '-'):
        one_lead_zero = '0' + vtdst[:2]
        return one_lead_zero
    else:
        return vtdst

In [293]:
df_with_absentee_reallocated['vtdst'] = df_with_absentee_reallocated['vtdst'].apply(vtdst_changer)

In [294]:
df_with_absentee_reallocated[df_with_absentee_reallocated['vtdst'].str.slice(start = -1) == '-']

Empty DataFrame
Columns: [index, Pct, G18HORREP, G18HORDEM, G18HORWRI, CON_DIST, G18HORLIB, LOCALITY, COUNTYFP, unique_id, vtdst]
Index: []

In [295]:
df_with_absentee_reallocated['unique_id'] = df_with_absentee_reallocated['COUNTYFP'] + df_with_absentee_reallocated['vtdst']

In [296]:
set(df_with_absentee_reallocated.unique_id) - set(final.unique_id)

{'003407', '003507'}

In [297]:
set(final.unique_id) - set(df_with_absentee_reallocated.unique_id)

{'003499', '003599', '059700'}

In [300]:
double_in_df = df_with_absentee_reallocated['unique_id'].value_counts()
df_double_list = double_in_df[double_in_df > 1].index

In [302]:
double_vtdst = (final.COUNTYFP + final.VTDST.str.slice(start = 3)).value_counts()

In [304]:
double_vtdst[double_vtdst > 1].index

Index(['800404', '153609', '059513', '089505', '177402', '550020', '177702',
       '153210', '089304', '095504', '800602', '153312', '153112', '650215',
       '153110', '800504', '177103', '710104', '177704', '095202', '800302',
       '177703'],
      dtype='object')

In [303]:
final_double_list = double_vtdst[double_vtdst > 1].index